<app-navbar></app-navbar>

<div class="container  animated fadeIn fast" style="margin-top:60px">


  <div class="row pt-4">

    <!-- <div class="col-md-6" style="align-self: center;">
      <i class="fas fa-chevron-left fa-2x"></i>Detalle: nombre de paciente
    </div> -->
    <div class="col-md-6"style="align-self: center;">

      <a style="display:flex; color: grey" (click)="loadListaPacientes()">
        <mdb-icon size="2x" fas icon="chevron-left" class="mr-2"></mdb-icon>
        <h5 class="mt-1">Paciente {{paciente?.Nombre}} {{paciente?.Apellidos}}</h5>
      </a>

    </div>

    <div class="col-md-6 text-right">
      <button mdbBtn size="sm" type="button" class="btn btn-outline-danger btn-rounded" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
      (click)="frame.show()"><i class="far fa-trash-alt"></i> Dar de baja</button>
      <button mdbBtn size="sm" type="button" rounded=true class="btn btn-outline-default btn-rounded" mdbWavesEffect disabled><i class="far fa-edit"></i> Editar
        paciente</button>
    </div>

  </div>

  <!--Accordion wrapper-->
  <div class="accordion md-accordion pt-4" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingTratamiento">
        <a data-toggle="collapse" href="#collapseTratamiento" aria-expanded="true"
          aria-controls="collapseTratamiento">
          <h5 class="mb-0" style="color:#2bbbad">
            <b>Panel de tratamiento</b> <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseTratamiento" class="collapse show" role="tabpanel" aria-labelledby="headingTratamiento">
        <div class="card-body">
          <div class="row">

            <div class="col-md-8">

              <div class="row">

                <!-- Nombre y tipo de toma-->
                <div class="col-md-4 ml-3">
                  <div class="md-form">
                    <input mdbInput type="text" id="inputNombre" class="form-control" value = "{{paciente.Nombre}} {{paciente.Apellidos}}" disabled>
                    <label for="inputNombre" class="">Nombre</label>
                  </div>

                  <div class="md-form">
                    <input mdbInput type="text" id="inputTipoToma" class="form-control" disabled value="Semanal" >
                    <label for="inputTipoToma" class="">Tipo de toma</label>
                  </div>
                </div>

                <!-- Fechas de inicio y fin -->
                <div class="col-md-4 ml-3">
                  <div class="md-form">
                    <input mdbInput type="text" id="inputInicioToma" class="form-control" disabled value="{{paciente.Inicio_toma}}">
                    <label for="inputInicioToma" class="">Inicio de toma</label>
                  </div>

                  <div class="md-form">
                    <input mdbInput type="text" id="inputFinToma" class="form-control" disabled value="{{paciente.Fin_toma}}">
                    <label for="inputFinToma" class="">Fin de toma</label>
                  </div>
                </div>

                <!-- Chechbox -->
                <div class="col-md-3 ml-3 align-self-center">
                    <div class="form-check mb-5">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked" checked disabled>
                        <label class="form-check-label ml-2" for="materialUnchecked">Emblistable</label>
                    </div>

                    <div class="form-check mt-5">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked" disabled>
                        <label class="form-check-label ml-2" for="materialUnchecked">Bolsa única</label>
                    </div>
                </div>
              </div>

              <div class="row">
                <!-- Patologías -->
                <div class="col-md-12">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum mollitia error totam
                    obcaecati, soluta deleniti? Velit in labore, corporis dicta minus necessitatibus est? Distinctio
                    corporis consequuntur exercitationem beatae sed?</p>
                </div>
              </div>

            </div>

            <!-- Notas -->
            <div class="col-md-4 text-center">
              <div class="form-group green-border-focus">
                <label for="textAreaNotas">Notas</label>
                <textarea class="form-control" id="textAreaNotas" rows="8"
                  style="resize: none; background: rgb(255, 236, 98)"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingPosologia">
        <a class="collapsed" data-toggle="collapse" href="#collapsePosologia"
          aria-expanded="false" aria-controls="collapsePosologia">
          <h5 class="mb-0" style="color:#2bbbad">
            <b>Posología</b> <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <!-- Días de la semana -->
      <div id="collapsePosologia" class="collapse show" role="tabpanel" aria-labelledby="headingPosologia">
        <div class="card-body">

            <ul class="nav nav-tabs nav-justified md-tabs aqua-gradient" id="myTabJust" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
                  aria-selected="true">Lunes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#home-just" role="tab"
                  aria-controls="profile-just" aria-selected="false">Martes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#home-just" role="tab"
                  aria-controls="contact-just" aria-selected="false">Miércoles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#home-just" role="tab"
                  aria-controls="contact-just" aria-selected="false">Jueves</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#home-just" role="tab"
                  aria-controls="contact-just" aria-selected="false">Viernes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#home-just" role="tab"
                  aria-controls="contact-just" aria-selected="false">Sábado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#home-just" role="tab"
                  aria-controls="contact-just" aria-selected="false">Domingo</a>
              </li>
            </ul>

            <div class="tab-content pt-5" id="myTabContentJust">
              <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">

                <div class="row mt-2">

                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title text-center"><i class="fas fa-coffee mr-2" style="color:#2bbbad"></i><a> Desayuno</a></h4>
                        <hr>
                        <div class="card-text">
                          <ul>
                            <li>2 uds. Ibuprofeno 200mg</li>
                            <li>1/2 uds. Lexatin 10mg</li>
                            <li>1/4 uds. Sintrón 10mg</li>
                            <li>3 uds. Sumial 10mg</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title text-center"><i class="fas fa-utensils mr-2" style="color:#2bbbad"></i><a> Comida</a></h4>
                        <hr>
                        <div class="card-text">
                          <ul>
                            <li>2 uds. Ibuprofeno 200mg</li>
                            <li>1/2 uds. Lexatin 10mg</li>
                            <li>1/4 uds. Sintrón 10mg</li>
                            <li>3 uds. Sumial 10mg</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title text-center"><i class="fas fa-apple-alt mr-2"style="color:#2bbbad"></i><a> Merienda</a></h4>
                        <hr>
                        <div class="card-text">
                          <ul>
                            <li>2 uds. Ibuprofeno 200mg</li>
                            <li>1/2 uds. Lexatin 10mg</li>
                            <li>1/4 uds. Sintrón 10mg</li>
                            <li>3 uds. Sumial 10mg</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title text-center"><i class="fas fa-utensils mr-2"style="color:#2bbbad"></i><a> Cena</a></h4>
                        <hr>
                        <div class="card-text">
                          <ul>
                            <li>2 uds. Ibuprofeno 200mg</li>
                            <li>1/2 uds. Lexatin 10mg</li>
                            <li>1/4 uds. Sintrón 10mg</li>
                            <li>3 uds. Sumial 10mg</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

        </div>
      </div>
      
    </div>
    <!-- Accordion card -->
  </div>
  <!-- Accordion wrapper -->
</div>

<!-- Modal eliminar usuario-->
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¿Está seguro de que desea eliminar el paciente?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" (click)="frame.hide()" mdbWavesEffect>Cancelar</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="removePaciente()">Confirmar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>