.aqua-gradient {
    background: -webkit-linear-gradient(50deg,#2bbbad,#2eaee9) !important;
    background: -o-linear-gradient(50deg,#2bbbad,#2eaee9) !important;
    background: linear-gradient(40deg,#2bbbad,#2eaee9) !important;
}