<!-- Search form -->
<div class="container-fluid px-4 py-2">
  <div class="row px-4" style="display: flex; background-color: rgb(0, 200, 0);">
    <div class="col-md-12 py-3">
        <form class="form-inline" style="justify-content: center">
          <i class="fas fa-search fa-lg" aria-hidden="true" style="color: white; padding-right: 5px"></i> <span style="color: white">Buscar</span>
          <input class="form-control form-control-md ml-3" type="text" placeholder="Buscar" aria-label="Search" #buscarTexto style="width: 90%">
        </form>
  </div>
</div>
