<header style="height: 100vh" >
  <section class="view" style="height: 100vh; background:url('../../../assets/layer.jpg'); background-size: cover">
      <div class="row" style="height: 100vh">

        <div class="col-md-4 side-login">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h1 class="heading display-3">Pharmagest</h1>
            <h4 class="subheading font-weight-bold">Soluciones farmacológicas</h4>
          </div>
        </div>
  
        <div class="col-md-8 side-right ">

          <div class="offset-md-4 col-md-6 center-login mt-5">
            <div class="card wow fadeIn " data-wow-delay="0.3s">
              <div class="card-body">

                <!-- Header -->
                <div class="form-header aqua-gradient">
                  <h3 class="font-weight-500 my-2 py-1"> Inicio de sesión</h3>
                </div>

                <!-- Body -->
                <div class="md-form">
                  <i class="fas fa-user prefix text-aqua"></i>
                  <input type="text" id="orangeForm-email" class="form-control" mdbInput>
                  <label for="orangeForm-email">Tu usuario</label>
                </div>

                <div class="md-form">
                  <i class="fas fa-lock prefix text-aqua"></i>
                  <input type="password" id="orangeForm-pass" class="form-control" mdbInput>
                  <label for="orangeForm-pass">Tu contraseña</label>
                </div>

                <div class="text-center">
                  <button class="btn aqua-gradient btn-lg login-button" mdbWavesEffect>Iniciar Sesión</button>
                  <hr class="mt-4">
                  <div class="inline-ul text-center d-flex justify-content-center">
                    <p class="grey-text">¿Has olvidado tu contraseña?<br>
                      <a style="color:#2eaee9 !important"><b>Contacta con el administrador</b></a>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</header>